body {
	font-family: Arial, sans-serif;
	text-align:center;
}
#teamtitle {
	text-align:center;
	text-transform:uppercase;
	padding:1em;
	background-color: #888888;
	color: white;
	font-weight:bold;
	font-size:1.5em;
	margin:1em;
	border-radius: 10px 10px;
}
#teamroles{
	margin-bottom:0.5em;
}
[id^="roleBtn_"] {
	padding:0.5em;
	margin:0.5em;
	margin-bottom:2em;
	border-radius: 10px 10px;
	font-weight: bold;
}
.em_profile {
	width:15%;
	height: 100%;
	border: 2px solid #888888;
	background-color:#F0F0F0;
	border-radius:10px 10px;
	padding-top:2em;
	padding-left:1em;
	padding-right:1em;
	margin-right:0.5em;
	margin-left:0.5em;
	text-align:center;
	margin-bottom:1em;
	position: relative;
	/*To make sure if there's more profiles that it goes to another row */
	flex:0 0 1;
}
#featured img{
	width:15%;
	height:auto;
	position:absoulte;
	float:right;
	margin-top:-2em;
	margin-right:-0.5em;
}
#employeeimg img{
	width:200px;
	height:auto;
	border-radius: 50%;
	border: 2px solid #888888;
}
#teammembers_profile {
	/*To make sure if there's more profiles that it goes to another row */
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-bottom:3em;
}
#em_name {
	padding:1em;
	text-align:center;
	font-size:1.5em;
	font-weight: bold;
}
#em_bio {
	text-align:left;
	margin-bottom:2em;
	height:200px;
	overflow-y: auto;
}
#f_hidden {
	display:none;
}
#em_roles {
	padding-bottom:1em;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin-top:1em;
	bottom:0;
	position: relative;
}
.em_role {
	padding:0.5em;
	margin:0.25em;
	border-radius: 10px 10px;
	/*To make sure if there's more roles that it goes to another row */
	flex:0 0 1;
}